*{
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    font-family: 'Libre Baskerville', 'Times New Roman';
    color: white;
}
h1 {
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
}
.navbar { 
    background-color: rgb(17, 17, 66);
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float: right;
    list-style: none;
    margin: 30px 13px;
    justify-content: center;
}
.navbar h3{
    float: left;
    margin: 20px 150px;
    font-size: 1.5rem;
    justify-content: center;
}
.navbar a{
    padding: 3px 3px;
    text-decoration: none;
}
.first{
    display: flex;
    justify-content: space-between;
    margin: 40px 150px;
}
.first > div{
    width: 35%;
}
.left{
    font-size: 2rem;
    margin: 30px;
}
.right img{
    width: 110%;
    margin: 35px;
}
.purple{
    color: purple;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;

}
ul li a {
    color: white;
    text-decoration: none;
    margin: 100px;
}
